@media only screen and (max-width: 768px) {
  #banner {
    position: relative;
    height: 60vh;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(../images/banner.jpg);
    background-size: cover;
    margin-left: -50px;
  }

  #about .container {
    margin-left: -8%;
  }

  .title-info {
    margin-left: 32px;
  }

  .nav-img-wrap {
    display: none;
  }

  .nav-link-container {
    position: absolute;
    top: 0;
    display: flex;
    /* margin-left: -50%; */
    width: 140px;
    height: 75px;
    align-items: center;
    justify-content: center;
  }

  .nlc1 {
    left: -6%;
  }

  .nlc2 {
    left: 20%;
  }

  .nlc3 {
    right: 20%;
  }

  .nlc4 {
    right: -5%;
  }

  #target {
    width: 300px;
    margin: 100px 50px 50px -110px;
    font-weight: 400;
  }

  #personal-info {
    width: 300px;
    margin: 100px 50px 50px 0px;
  }

  #job-info .container {
    display: grid;
    grid-template-columns: 73% 73%;
    column-gap: 40px;
    row-gap: 20px;
    margin: 0;
    margin-left: -32%;
    /* justify-items: center; */
    /* grid-template-rows: 1fr 1fr; */
  }

  .section-info {
    height: auto;
  }

  /* CHỨNG CHỈ */
  #certificate .container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
    margin-left: px;
  }

  /* .section-title {
    justify-items: start;
    align-items: start;
  } */

  .cert-block {
    padding-right: 15px;
    flex-direction: column;
  }

  div.cert-block img {
    width: 250px;
    height: 100px;
  }

  .cert-info {
    padding-left: 0;
  }

  /* DỰ ÁN */
  .blue-background-2 {
    height: 28px;
    align-self: end;
  }

  .icon-resize {
    padding-right: 0px;
  }

  #project .container {
    margin: -2%;
  }

  div.proj-block img {
    width: 200px;
    height: 100px;
  }

  .proj-title,
  .proj-small-info {
    width: 200px;
    padding: 0px 5px 0px 20px;
  }

  .proj-small-info {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 8px 8px 8px 15px;
  }

  .grid-cell {
    grid-area: 2/2/3/3;
  }

  .proj-title h4 {
    margin: 0;
  }

  table {
    width: 200px;
  }

  #footer .container {
    column-gap: 15px;
  }
} ;
